.stack-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(158, 223, 224, 0.42);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: 1px solid rgba(158, 223, 224, 0.51);

    width: 200px;
    height: 50px;
}

.stack-card:hover {
    transform: scale(1.05);
}

.stack-card-title {
    font-size: 0.8rem;
}
