.stack-page {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 20px;

    background:rgba(160, 197, 236, 0.7);
    --webkit-backdrop-filter:blur(10px);
    backdrop-filter:blur(10px);
    height:100vh;
}

.stack-info {
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 0 5px;
    background-color: lightblue;
    border-radius: 8px;
}

hr {
    min-height: 15px;
}

.edit-stack-button, .delete-stack-button, .share-stack-button {
    cursor: pointer;
}

.edit-stack-button:hover, .delete-stack-button:hover, .share-stack-button:hover {
    transform: scale(1.5);
}

li {
    margin-bottom: 10px;
}